footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	align-items: center;
	background-color: black;
	color: gray;
	padding: 20px;
}
footer > .logo {
	width: 50px;
}

footer > .socials {
	padding: 5px;
	color: gray;
}
.footer-icon {
	padding: 2px 5px;
}
