.trace-banner {
	padding: 50px 20px;
	background-color: lightgray;
}
.header {
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
}

.tracking-description-container {
	display: grid;
	grid-template-columns: 150px 1fr;
}

.tracking-description-container > .tdc-text-container {
	display: grid;
	grid-template-columns: 1fr;
	align-content: center;
}
.trace-icon {
	width: 100px;
	padding: 10px 10px;
}
.tdc-text-container > * {
	text-align: left;
}
.tdc-text-container > em {
	font-weight: bold;
}
.tdc-text-container > p {
	font-size: 14px;
	color: gray;
}
